.moon {
	top:8%;
	left:6%;
	width: 150px;
    height: 150px;
	box-shadow: 0 0 35px 15px #dadada;
	border-radius: 100px;
	position:absolute;
	z-index:-1;
	background-color:white;
	opacity: .9;
}

.moon-overlay {
	position:absolute;
	top:0;
	left:0;
	background-image:url("images/moon.png");
	width: 150px;
	height: 150px;
	opacity: .10;
}