.mountain {
  position: absolute;
  bottom: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  z-index: 1; }
  .mountain .mountain-top {
    position: absolute;
    right: -100px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    z-index: 2; }
  .mountain .mountain-cap-1, .mountain .mountain-cap-2, .mountain .mountain-cap-3 {
    position: absolute;
    top: 110px;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent; }
  .mountain .mountain-cap-1 {
    left: -100px; }
  .mountain .mountain-cap-2 {
    left: -35px; }
  .mountain .mountain-cap-3 {
    left: 30px; }
  .mountain.mountain-v1 {
    border-bottom: 280px solid #bd9677; }
    .mountain.mountain-v1 .mountain-top {
      border-bottom: 110px solid #bdafa1; }
    .mountain.mountain-v1 .mountain-cap-1, .mountain.mountain-v1 .mountain-cap-2, .mountain.mountain-v1 .mountain-cap-3 {
      border-top: 35px solid #bdafa1; }
  .mountain.mountain-v1--2 {
    opacity: 0.2;
    left: 870px;
    bottom: 0px;
    z-index: -1; }
  .mountain.mountain-v2 {
    border-bottom: 290px solid #ca7f81;
    left: 700px;
    bottom: -30px; }
    .mountain.mountain-v2 .mountain-top {
      border-bottom: 115px solid #bda1a1; }
    .mountain.mountain-v2 .mountain-cap-1, .mountain.mountain-v2 .mountain-cap-2, .mountain.mountain-v2 .mountain-cap-3 {
      top: 115px;
      border-top: 35px solid #bda1a1; }
  .mountain.mountain-v2--2 {
    opacity: 0.4;
    left: 180px;
    bottom: -15px;
    z-index: -1; }
  .mountain.mountain-v3 {
    border-bottom: 310px solid #77bd8e;
    left: 350px;
    z-index: -1; }
    .mountain.mountain-v3 .mountain-top {
      border-bottom: 120px solid #a1bdac; }
    .mountain.mountain-v3 .mountain-cap-1, .mountain.mountain-v3 .mountain-cap-2, .mountain.mountain-v3 .mountain-cap-3 {
      top: 120px;
      border-top: 35px solid #a1bdac; }
  .mountain.mountain-v3--2 {
    opacity: 0.6;
    left: -200px;
    bottom: 0;
    z-index: -1; }
  .mountain.mountain-v4 {
    border-bottom: 260px solid #a069a1;
    left: 1050px;
    z-index: 2; }
    .mountain.mountain-v4 .mountain-top {
      border-bottom: 105px solid #bca1bd; }
    .mountain.mountain-v4 .mountain-cap-1, .mountain.mountain-v4 .mountain-cap-2, .mountain.mountain-v4 .mountain-cap-3 {
      top: 105px;
      border-top: 35px solid #bca1bd; }
  .mountain.mountain-v4--2 {
    opacity: 0.6;
    left: 550px;
    bottom: 0;
    z-index: -5; }

.moon {
  top: 8%;
  left: 6%;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 35px 15px #dadada;
  border-radius: 100px;
  position: absolute;
  z-index: -1;
  background-color: white;
  opacity: .9; }

.moon-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/moon.png");
  width: 150px;
  height: 150px;
  opacity: .10; }

.stars, .twinkling {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block; }

.stars {
  background: url(images/stars.png) repeat top center;
  z-index: 0;
  animation: pulsate 6s ease;
  transform: translateX(-400px); }
  .stars.flip {
    z-index: 1;
    transform: scaleX(-1);
    animation: pulsate 5s ease;
    animation-iteration-count: infinite; }
  .stars.move {
    z-index: 2;
    transform: translateX(200px);
    animation: pulsate 4s ease;
    animation-iteration-count: infinite; }

@keyframes pulsate {
  0% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }
@-webkit-keyframes pulsate {
  0% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  100% {
    opacity: 0.0; } }
@font-face {
  font-family: cicle;
  src: url(fonts/Cicle-Fina.ttf); }
@font-face {
  font-family: ostrich;
  src: url(fonts/OstrichSans-Bold.otf); }
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: cicle; }

a {
  color: #ca7f81; }

a:hover {
  color: #bda1a1; }

a:visited {
  color: #bda1a1; }

h1 {
  font-size: 55px; }

h3 {
  font-size: 23px; }

p {
  font-size: 17px; }

.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#534b7e, #62719c, #97bdd4);
  z-index: -100; }

.black-overlay {
  width: 400px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 33%;
  top: 18%;
  padding: 25px;
  z-index: 100;
  color: #dbdcf0;
  border-radius: 15px;
  padding-left: 30px; }
  .black-overlay h1 {
    margin: 0px;
    font-family: ostrich;
    font-weight: lighter; }
  .black-overlay h3 {
    margin-top: 3px;
    margin-bottom: 20px; }
  .black-overlay .content {
    margin-left: 10px; }
    .black-overlay .content p {
      margin: 0px;
      margin-bottom: 10px; }
    .black-overlay .content .contact {
      float: right;
      margin-top: 10px; }
      .black-overlay .content .contact i {
        font-size: 1.8em;
        color: #dcdef2;
        margin: 0 7px; }
      .black-overlay .content .contact i:hover {
        color: #bda1a1; }

.home {
  position: absolute;
  left: 85%;
  bottom: -2px;
  z-index: 100; }

.cabin {
  margin-right: 10px;
  height: 65px;
  width: auto; }

.flag {
  height: 75px; }

/*# sourceMappingURL=main.css.map */
