@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #183540;
  color: #F2F2F2;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
